<div class="container container-xl">
    <br />
	<h2  class="text-primary">Manual Tasks</h2>
    <br />
    <!---------------->


    <div class="card">
        <div class="card-header bg-light">
            <div class="clearfix">
                <span class="float-start"><strong>Manual Tasks</strong> </span>
                <span class="float-end">
                    <span>{{ curentDate | date: 'mediumTime' }} &nbsp;</span>  
                    <!-- <span>{{ curentDate | date: 'dd-MMM-yyyy' }} &nbsp;</span>  -->
                    <span class="icon"><i class="fas fa-sync"></i></span>
                </span>
            </div>
        </div>
        <div class="card-body">
            <!--- Insert Table Grid here -->
            <div>
                <div class="row">
                  <div class="col-6"><strong>Task Name</strong></div>
                  <div class="col-2 text-center"><strong>Total</strong></div>
                  <div class="col-2 text-center"><strong>Completed</strong></div>
                  <div class="col-2 text-center"><strong>Tasks Left</strong></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <!-- Check voicemails & panelists' emails -->
                        <a href="#manualtask_checkvoicemail" data-bs-toggle="collapse">Check voicemails &amp; panelists&apos; emails</a>
                        <div id="manualtask_checkvoicemail" class="collapse">
                          Description of task Check voicemails &amp; panelists&apos; emails.
                        </div>
                        
                    </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" > </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" > </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" disabled > </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <a href="#manualtask_questionnaire_dataenry" data-bs-toggle="collapse">Questionnaire Data Entry</a>
                        <div id="manualtask_questionnaire_dataenry" class="collapse">
                            Description of task Questionnaire Data Entry.
                        </div>
                    </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" > </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" > </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" disabled > </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <a href="#manualtask_return_messages" data-bs-toggle="collapse">Return Messages / reply to panelists&apos; emails</a>
                        <div id="manualtask_return_messages" class="collapse">
                            Description of task Return messages/reply to panelists&apos; emails.
                        </div>
                    </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" > </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" > </div>
                    <div class="col-2 text-center"><input type="number" id="quantity" name="quantity" min="0" max="500" placeholder="0" disabled > </div>
                </div>

            </div>
            <br /><br />

            <!--- Insert 28 day analysis & General comments here -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header bg-light">28 Days Analysis</div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-10">Needs Analysis</div>
                                <div class="col-sm-2 text-right">
                                    <input class="form-check-input" type="checkbox" id="manualTasks_chkNeedsAnalysis" name="manualTasks_chkNeedsAnalysis" value="">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-10">Done?</div>
                                <div class="col-sm-2 text-right">
                                    <input class="form-check-input" type="checkbox" id="manualTasks_chkAnalysisDone" name="manualTasks_chkAnalysisDone" value="">
                                </div>
                            </div>
                            <br />
                            <span class="text-center"><em>Last completed: <strong>Never</strong>  </em></span>
                        </div> 
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header bg-light">General Comments</div>
                        <div class="card-body">
                            <textarea class="form-control" name="comments_manualtasks" id="comments_manualtasks" rows="3" cols="80" placeholder="Enter general comments here"></textarea>
                            
                            <br/>
                        </div> 
                    </div>
                </div>
            </div>
            <!----------------------------->
        </div> 
        <!--  <div class="card-footer">Footer</div> -->
    </div>
    <!---------------->


    
    <br /><br />
    <p  class="text-primary">Image below ~ for design dev only</p>
    <hr /><br />
    <img src="assets/images/manualtasks.png" alt="Manual Task" style="width:1168px;height:504px;">
    
    <br />
</div>


