<!-- <p>taskadd works!</p> -->

<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!isTaskAdded">
      <div class="form-group">
        <label for="taskname">Task Name</label>
        <input type="text"  class="form-control" id="taskname" required [(ngModel)]="task.taskname" name="taskname" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" required [(ngModel)]="task.description" name="description"  />
      </div>

      <div class="form-group">
        <label for="tasktype">Task Type</label>
        <input class="form-control" id="tasktype" required [(ngModel)]="task.tasktype" name="tasktype"  />
      </div>

      <!--
      <div class="form-group">
        <label for="weight">Weight</label>
        <input class="form-control" id="weight" required [(ngModel)]="task.tasktype" name="weight" type="number" min="0" max="999" />
      </div>
      -->

      <button (click)="addTask()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="isTaskAdded">
      <h3>New task added</h3>
      <button class="btn btn-success" (click)="newTask()">  Add Task</button>
    </div>
  </div>
</div>


