<div class="container container-xl">
  <br />

  <div class="list row">
    <div class="col-md-8">
      <h2>Task List</h2>
      <br />
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Search by Task" [(ngModel)]="searchTitle" />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="searchByTitle()">
            <span>
              <i class="fas fa-search"></i>
            </span>
            Search 
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <!-- <h4>Task List</h4> -->

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task Name</th>
            <th scope="col">Description</th>
            <th scope="col">Task Type</th>
            <!-- <th scope="col">Weight</th>  -->
            <th scope="col" style="min-width: 150px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks;">
            <th scope="row">{{task.id}}</th>
            <td><b>{{task.taskname}}</b></td>
            <td>{{task.description}}</td>
            <td>{{task.tasktype}}</td>
            <!--  <td>{{task.weight}}</td>  -->
            <td>
              <button type="button" class="btn btn-primary btn-sm" routerLink="/listtask/{{task.id}}">
                <span>
                  <i class="fas fa-pencil-alt"></i>
                </span>
                 Edit 
              </button>
              <!-- 
                <button type="button" class="btn btn-warning" (click)="deleteTask(task.id)" disabled >Delete</button> 
              -->
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />

    </div>
  </div>


</div>

