<div class="container container-xl">
    <!-- Info Alert -->
    <!--
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
        ETL for automated tasks with dependency for PG02 has not been run for the current task date.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    -->
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
        The 28 Days Analysis has never been completed. Please complete this task in the Manual Tasks section.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    <!-- Other potential use cases -->     
    <!-- Warning -->
    <!--
    <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi bi-exclamation-triangle"></i>  </span> &nbsp; &nbsp; 
        The 28 Days Analysis has not been completed. Please complete this task in the Manual Tasks section.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    -->

  </div> 


