footer {
    padding: 30px 0;
    font-size: 14px;
    color: #00008b;
    background: #f5f5f5;
    text-align: center;
  }
  
/* remove link underlines  */
.link_no_underline:link {
  text-decoration: none;
}
.link_no_underline:visited {
  text-decoration: none;
}
.link_no_underline:hover {
  text-decoration: none;
}