<div class="container container-xl">
    <br />
    <!----------------------->
    <div class="row">
        <div class="col-3">
    
            <!-- Household Search -->
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <button type="button" class="btn btn-block" data-bs-toggle="collapse" data-bs-target="#search_household">
                        <i class="fas fa-home"></i> &nbsp; 
                        <strong>Households</strong>  
                        &nbsp; &nbsp;
                        <i class="fas fa-search"></i>
                    </button>
                    <div id="search_household" class="collapse show">
                      <span>
                          <input type="text" class="form-control" placeholder="Search by Households" name="searchByHousehold" id="searchByHousehold" [(ngModel)]="searchterm" >  
                      </span>
                    </div>

                    <!-- 
                    <a href="#search_household" data-bs-toggle="collapse" data-bs-target="#search_household">
                        <i class="fas fa-home"></i> &nbsp; 
                        <strong>Households</strong> &nbsp;  &nbsp;  
                        <i class="fas fa-search"></i> &nbsp;
                    </a>
                    -->
                    <!-- 
                    <span>
                        <span class="float-start">
                            <i class="fas fa-home"></i> &nbsp; 
                            <a 
                              href="#search_household" 
                              data-bs-toggle="collapse" 
                              data-bs-target="#search_household"
                            >
                                <strong>Households</strong>                                
                            </a>
                        </span>

                    </span>
                    <span class="float-end">
                        <a href="#search_household" data-bs-toggle="collapse" data-bs-target="#search_household"
                        >
                            <i class="fas fa-search"></i>
                        </a>
                    </span>
                    -->
                    <!---- Search by Households --> 
                    <!--                        
                    <div id="search_household" class="collapse">
                        <input type="text" class="form-control" placeholder="Search by Households" name="searchByHousehold" id="searchByHousehold"  [(ngModel)]="term" >
                    </div>
                    -->

                </div>
            </div>     
            <button type="button" class="btn btn-link" id="TMB" name="TMB" value="TMB" (click)="getHHbyPA_TMB_incomplete();getHHbyPA_TMB_complete();getHHbyPA_TMB_flag()">TMB</button>  
            <button type="button" class="btn btn-link" id="LOB" name="LOB" value="LOB" (click)="getHHbyPA_LOB_incomplete();getHHbyPA_LOB_complete();getHHbyPA_LOB_flag()">LOB</button>  
            <button type="button" class="btn btn-link" id="NAN" name="NAN" value="NAN" (click)="getHHbyPA_NAN_incomplete();getHHbyPA_NAN_complete();getHHbyPA_NAN_flag()">NAN</button> 
            <!-- 
            <button type="button" class="btn btn-link" id="TMB" (click)="getHHbyPA_TMB_incomplete()">TMB</button>  
            <button type="button" class="btn btn-link" id="LOB" (click)="getHHbyPA_LOB_incomplete()">LOB</button>  
            <button type="button" class="btn btn-link" id="NAN" (click)="getHHbyPA_NAN_incomplete()">NAN</button> 
            -->
            <br />
            <!----Accordion for Task Completion Status ------>   


            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne_IncompleteTasks">
                        <i class="fas fa-cog" aria-hidden="true"></i> &nbsp; 
                        Incomplete 
                    </a>
                    <span class="badge bg-secondary float-end" id='incomplete' name='incomplete'>{{ hhbypas_incompl.length }}</span>
                  </div>
                  <div id="collapseOne_IncompleteTasks" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        <!--- insert API data loop below here -->

                        <!-- 
                        <span>Incomplete Items: <strong> {{ hhbypas_incompl.length }} </strong> </span><br />
                        -->
                        <div class="list-group">
                            <!-- <a href="#" class="list-group-item" *ngFor="let hhbypa of hhbypas_incompl; let i = index"> --> 
                            <a href="#" class="list-group-item" *ngFor="let hhbypa of hhbypas_incompl | filter:searchterm | paginate: { itemsPerPage: 12, currentPage: p } ; let i = index">
                                <span >
                                  <strong>{{hhbypa.HomeNumber}}</strong> {{hhbypa.HHName}} 
                                </span> 
                            </a>
                            <br />
                            <pagination-controls (pageChange)="p = $event" previousLabel="Prev"></pagination-controls>

                        </div>
                        <!--/ insert API data loop above here -->
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo_CompletedTasks">
                        <i class="fas fa-cog" aria-hidden="true"></i> &nbsp; 
                        Completed 
                  </a>
                  <span class="badge bg-secondary float-end" id='complete' name='complete'>{{ hhbypas_compl.length }}</span> 
                  </div>
                  <div id="collapseTwo_CompletedTasks" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <!--- insert API data loop below here -->
                        <div class="list-group">
                            <a href="#" class="list-group-item" *ngFor="let hhbypa of hhbypas_compl | filter:searchterm | paginate: { itemsPerPage: 12, currentPage: p } ; let i = index">
                                <strong>{{hhbypa.HomeNumber}}</strong> {{hhbypa.HHName}}  
                            </a>
                            <br />
                            <pagination-controls (pageChange)="p = $event" previousLabel="Prev"></pagination-controls>
                        </div>
                        <!--/ insert API data loop above here -->
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree_Flagged">
                        <i class="fas fa-flag" aria-hidden="true"></i> &nbsp; 
                        Flagged 
                    </a>
                    <span class="badge bg-secondary float-end" id='incomplete' name='incomplete'>{{ hhbypas_flag.length }}</span>
                  </div>

                  <div id="collapseThree_Flagged" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <!--- insert API data loop below here -->
                        <div class="list-group">
                            <a href="#" class="list-group-item" *ngFor="let hhbypa of hhbypas_flag  | filter:searchterm | paginate: { itemsPerPage: 12, currentPage: p  } ; let i = index">
                                <strong>{{hhbypa.HomeNumber}}</strong> {{hhbypa.HHName}}  
                            </a>
                            <br />
                            <pagination-controls (pageChange)="p = $event" previousLabel="Prev"></pagination-controls>
                        </div>
                        <!--/ insert API data loop above here -->
                    </div>
                  </div>

                </div>
              </div>

            <!-------------------------->
            <br />
        </div>
        
        <div class="col-9">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                    <div class="col-md-7">
                        <span class="icon"><i class="far fa-copy"></i></span> <span>&nbsp; Tasks for household <strong>( homenumber )</strong> (hhname ) </span>
                    </div>
                    <div class="col-md-5 float-right text-end">
                        <button class="btn btn-outline-dark btn-sm" type="button" title="Copy Home number">  <span class="icon"><i class="fas fa-copy"></i></span> <span>&nbsp; Copy Home #</span></button>
                        &nbsp;
                        <button class="btn btn-outline-dark btn-sm" type="button" title="Flag">  <span class="icon"><i class="fas fa-flag"></i></span> <span>&nbsp; Flag</span></button>
                    </div>
                    </div>	
                </div>
                <div class="card-body">
                    <!----->
					<div class="row" *ngFor="let task of tasksbyhh; let i = index">
						<div class="col-md-10">
							<span> taskname : ___ | {{task.HomeNumber}} | {{task.HHName}} </span>				
						</div>
						<div class="col-md-2 float-right text-end justify-content-end">
							<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;"> Done ?</label> 
							</div>				
						</div>
                    </div>
					<!----->	            
                </div>
                </div>        
                <!-------------------->
                <br />
                <div class="card">
                <div class="card-header">
                    <span class="icon">
                    <i class="fas fa-comment-alt"></i></span> 
                    <span style="font-weight: bold;">&nbsp; Household Comments</span>
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="3" id="comments_household" name="comments_household" placeholder="Enter comments for this household here." title="Comments for Household"></textarea>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-outline-primary btn-sm" title="Save comments" name="btn_savehouseholdcomments" id="btn_savehouseholdcomments">Save</button> &nbsp; 
                    </div>
                    </div>
                </div>
                <!-- <div class="card-footer">Footer </div> -->
                </div>
            <!------------------------>
        </div>

    </div>
</div>


<br /><br />
