<!--  <p>taskadmindetail works!</p>  -->
<div style="width: 500px; margin: auto;">
  <div *ngIf="currentTask" class="edit-form">
    <h4>Task</h4>
    <form>
      <div class="form-group">
        <label for="taskname">Task Name</label>
        <input
          class="form-control"
          id="taskname"
          [(ngModel)]="currentTask.taskname"
          name="taskname"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          [(ngModel)]="currentTask.description"
          name="description"
        />
      </div>

        <div class="form-group">
          <label for="tasktype">Task Type</label>
          <input
            class="form-control"
            id="tasktype"
            [(ngModel)]="currentTask.tasktype"
            name="tasktype"
          />
        </div>
          <!--
          <div class="form-group">
            <label for="weight">Weight</label>
            <input
              class="form-control"
              id="weight"
              [(ngModel)]="currentTask.weight"
              name="weight"
              min="0" max="999"
            />
          </div>
          -->

    </form>
    <br />

    <button type="button" class="btn btn-primary" (click)="updateTask()" >
      <span> <i class="far fa-edit"></i> </span>
       Update
    </button>
    &nbsp; &nbsp;
    <button type="button" class="btn btn-info" routerLink="/tasks">
      <span> <i class="fas fa-list"></i> </span>
       Back
    </button>
    &nbsp;
    <!-- 
      <button type="button" class="btn btn-warning" (click)="deleteTask()" disabled>Delete</button> 
    -->
    
    <br /><br />

  </div>

</div>
