<div class="container container-xl">
    <br />
	<h2  class="text-primary">Toolbox of Pre-Built Components</h2>
    <br />
    <!-- Info Alert -->
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi-info-circle-fill"></i>  </span> &nbsp; &nbsp; 
        The 28 Days Analysis has never been completed. Please complete this task in the Manual Tasks section.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    <!-- Other potential use cases -->     
    <!-- Warning -->
    <!---->
    <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
        <span><i class="bi bi-exclamation-triangle"></i>  </span> &nbsp; &nbsp; 
        The 28 Days Analysis has not been completed. Please complete this task in the Manual Tasks section.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div> 
    <!---->
    <br /> <hr />  <br />


    <!--- Testing Loop below here ---------->
    <div class="row">
        <div class="col-9">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                    <div class="col-md-7">
                        <span class="icon"><i class="far fa-copy"></i></span> <span>&nbsp; Tasks for household <strong>( homenumber )</strong> (hhname ) </span>
                    </div>
                    <div class="col-md-5 float-right text-end">
                        <button class="btn btn-outline-dark btn-sm" type="button" title="Copy Home number">  <span class="icon"><i class="fas fa-copy"></i></span> <span>&nbsp; Copy Home #</span></button>
                        &nbsp;
                        <button class="btn btn-outline-dark btn-sm" type="button" title="Flag">  <span class="icon"><i class="fas fa-flag"></i></span> <span>&nbsp; Flag</span></button>
                    </div>
                    </div>	
                </div>
                <div class="card-body">
                    <!----->
					<div class="row" *ngFor="let task of tasksbyhh; let i = index">
						<div class="col-md-10">
							<span> taskname : ___ | {{task.HomeNumber}} |{{task.HHName}} </span>				
						</div>
						<div class="col-md-2 float-right text-end justify-content-end">
							<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;"> Done ?</label> 
							</div>				
						</div>
                    </div>
					<!----->	            
                </div>
                </div>        
                <!-------------------->
                <br />
                <div class="card">
                <div class="card-header">
                    <span class="icon">
                    <i class="fas fa-comment-alt"></i></span> 
                    <span style="font-weight: bold;">&nbsp; Household Comments</span>
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="3" id="comments_household" name="comments_household" placeholder="Enter comments for this household here." title="Comments for Household"></textarea>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-outline-primary btn-sm" title="Save comments" name="btn_savehouseholdcomments" id="btn_savehouseholdcomments">Save</button> &nbsp; 
                    </div>
                    </div>
                </div>
                <!-- <div class="card-footer">Footer </div> -->
                </div>
            <!------------------------>
        </div>
    </div>
    
    <!------------->



    <br />
    <p>Dummy filler text/ stock text. The site go live tomorrow anyway? We've bootstrapped the model. Productize. We need this overall to be busier and more active. </p><br />
    <p>Filler text generated by <a href="http://officeipsum.com/">Office Ipsum</a>.  Thanks.</p>
</div>

