<div class="container container-xl">
    <div class="accordion" id="collapseBarGraph">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Task Summary
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#collapseBarGraph">
            <div class="accordion-body">
              <img src="assets/images/bargraph01.png" alt="Resources" style="width:854px;height:133px;">
            </div>
          </div>
        </div>  
    </div>
    <br />
  </div>