<div class="container container-xl">
    <div>
        <tabset>
          <tab heading="Automated Tasks" id="tab1">
              <app-automatedtasks></app-automatedtasks>
          </tab>
          <tab heading="Manual Tasks">
              <app-manualtasks></app-manualtasks>
          </tab>
          <tab heading="Activity Log">
              <app-activitylog></app-activitylog>
          </tab>
          <tab heading="Resources">
              <app-resources></app-resources>
          </tab>
        </tabset>
    </div>
</div>
<br />

<!----------------->


<!-- <p>maintab works!</p>  -->
