<div class="container container-xl">
    <br />
	<h2  class="text-primary">Activity Log</h2>
    <br />
    <!---------------->


    <div class="card">
        <div class="card-header">
            <div class="clearfix">
                <span class="float-start"><strong>Activity Log</strong> </span>
                <span class="float-end">
                    <span>{{ curentDate | date: 'mediumTime' }} &nbsp;</span>  
                    <!-- <span>{{ curentDate | date: 'dd-MMM-yyyy' }} &nbsp;</span>  -->
                    <span class="icon"><i class="fas fa-sync"></i></span>
                </span>
            </div>
        </div>
        <div class="card-body mx-auto">There has been no activity today.</div> 
        <!--  <div class="card-footer">Footer</div> -->
    </div>
    <!---------------->
    <br /><br />
    <p  class="text-primary">Image below ~ for design dev only</p>
    <hr /><br />



    <img src="assets/images/activitylog.png" alt="Global Settings" style="width:1157px;height:124px;">

    <br />
</div>