<!--  <p>taskadminlist works!</p>  -->
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="Search by Task" [(ngModel)]="searchTitle" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchByTitle()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Task List - Sandeep</h4>
    <ul class="list-group">
      
      <!-- <li *ngFor="let task of tasks; let i = index" class="list-group-item"> <strong>{{task.HomeNumber}}</strong> &nbsp;  {{task.HHName}}  </li>  -->
      <!-- <li *ngFor="let element of householdsbytask; let i = index" class="list-group-item"> <strong>{{element.homenumber}}</strong> &nbsp;  {{element.hhname}}  </li> -->
  </ul>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task Name</th>
          <th scope="col">Description</th>
          <th scope="col">Task Type</th>
          <!-- <th scope="col">Weight</th>  -->
          <th scope="col" style="min-width: 150px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks;">
          <th scope="row">{{task.id}}</th>
          <td><b>{{task.taskname}}</b></td>
          <td>{{task.description}}</td>
          <td>{{task.tasktype}}</td>
          <!--  <td>{{task.weight}}</td>  -->
          <td>
            <button type="button" class="btn btn-danger" routerLink="/listtask/{{task.id}}">Edit</button>
            <button type="button" class="btn btn-warning" (click)="deleteTask(task.id)" disabled >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
